/* Fonts */
@import url("fontawesome-all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&display=swap');

@font-face {
  font-family: 'Bebas';
  src: url('fonts/Bebas-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



/*HTML*/
body, html{
  height: 100%;
}
.bg {
    background-image: url("imgs/122-1227593_gamebook-background-book-background-images-png.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.card-body {
  background-color: rgba(116, 184, 240, 0.5);
}


.row {
  text-align: center;
  align-items: center ;
}

.accordion-header {
  font-family: 'Bodoni';
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
  background-color: blueviolet;
}

.accordion-body {
  background-color:rgb(255, 255, 255);
  font-family: 'Bodoni', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: justify;
}


.accordion {
  background-color:brown ;
}

h1 {
  font-size: 5rem !important;
  font-weight: 900;
  color: rgb(0, 0, 0);
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
  font-family: 'Bebas' !important;
}

h5 {
  font-family: 'Bebas' !important;
  text-transform: uppercase;
}

p {
  font-family:'Times New Roman', Times, serif;
  font-size: 18px !important;
}

li {
  font-family:'Times New Roman', Times, serif;
  font-size: 18px !important;
}
