/* Fonts */
@import url("fontawesome-all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&display=swap');


/*HTML*/
body, html{
  height: 100%;
}
.bg {
    background-image: url("imgs/122-1227593_gamebook-background-book-background-images-png.png");
    height: 100%;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
  }

.card-body {
  background-color: rgba(234, 255, 0, 0.5);
}


.row {
  text-align: center;
  align-items: center ;
}

.accordion-body {
  background-color:azure;
}


.accordion {
  background-color:brown ;
}

h1 {
  font-size: 4rem !important;
  font-weight: 900;
  color: blue;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
  font-family: 'Dosis', sans-serif;;
}
